{% extends "base.html" %}

{% block Content %}
    <h1>{{user_name}}'s library</h1>
    <table class="table table-striped">
        <tr>
            <th>Patient Name</th>
            <th>CPT Code</th>
            <th>Clinical Info</th>
            <th>MRN</th>
            <th>DOS</th>
            <th>Surgeon Type</th>
            <th></th>
        </tr>
        {% for case in cases %}
            <tr>
                <td>{{case.case.name}}</td>
                <td>{{case.case.cpt}}</td>
                <td>{{case.case.clinical_info}}</td>
                <td>{{case.case.mrn}}</td>
                <td>{{case.case.dos}}</td>
                <td>{{case.case.surgeon_type}}</td>
                <td><input type="button" value="View" class="btn btn-small" onclick="showCase('{{case.case_id}}')"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block Scripts %}
<script type="text/javascript">
    function showCase(case_id){
        console.log(case_id);
    }
</script>
{% endblock %}
