{% extends "base.html" %}

{% block Styles %}

{% endblock %}

{% block Content %}
    <h1>Enter new step information</h1>
    <form class="form-horizontal" style="margin-top:25px">
        <div class="control-group">
            <input type="text" id="name" placeholder="Step Name" class="input-block-level">
        </div>
        <div class="control-group">
            <span class="help-block">Enter a description for the step</span>
            <textarea rows="3" id="description" class="input-block-level"></textarea>
        </div>
        <div class="control-group">
            <input type="button" class="btn btn-primary" value="Start Step" id="start_btn" onclick="recordTime('#start_btn');">
        </div>
        <div class="control-group">
            <input type="button" class="btn btn-primary" value="Stop Step" id="stop_btn" onclick="recordTime('#stop_btn');">
        </div>
        <div class="control-group">
            <span class="help-block">Enter any notes you want to record</span>
            <textarea rows="3" id="notes" class="input-block-level"></textarea>
        </div>
        <input type="hidden" id="start_btn_holder"></input>
        <input type="hidden" id="stop_btn_holder"></input>
        <input type="hidden" id="case_id" value="{{ case_id }}"></input>
        <div class="control-group">
            <div class="btn-toolbar">
              <div class="btn-group">
                  <input type="button" class="btn btn-large btn-info" onclick="redirectToHome();" value="Done!">
              </div>
              <div class="btn-group">
                  <input type="button" class="btn btn-large btn-info" onclick="addStep();" value="Add Step">
              </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block Scripts %}
<script type="text/javascript">
    function recordTime(elem_id){
        $(elem_id).prop("disabled", true);
        $(elem_id + '_holder').val(Date.now());
    }

    function redirectToHome(){

    }

    function addStep(){
        $.post('/save_step', {
            name:$('#name').val(),
            description:$('#description').val(),
            start_time:$('#start_btn_holder').val(),
            stop_time:$('#stop_btn_holder').val(),
            notes:$('#notes').val(),
            case_id:$('#case_id').val()
        }).done(function(data){
            response = JSON.parse(data);
            console.log(response);
            window.location.href = '/new_step?case_id=' + response.case_id;
        });
    }
</script>
{% endblock %}